<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspectCore.Abstractions" version="0.2.0-preview8" targetFramework="net452" />
  <package id="AspectCore.Core" version="0.2.0-preview8" targetFramework="net452" />
  <package id="AspectCore.Extensions.Autofac" version="0.2.0-preview8" targetFramework="net452" />
  <package id="AspectCore.Extensions.Reflection" version="0.2.0-preview8" targetFramework="net452" />
  <package id="Autofac" version="4.6.1" targetFramework="net452" />
  <package id="Autofac.Extras.DynamicProxy" version="4.2.1" targetFramework="net452" />
  <package id="Autofac.WebApi2" version="4.0.1" targetFramework="net452" />
  <package id="Castle.Core" version="4.1.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net452" />
</packages>